{%extends "./base.html"%}
{%load static%}

{%block child_block%}

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
</head>

<body>
    <div class="container">
        <h2>Change Password </h2>
        <div class="form-container">
            <form method="POST">
                
                <div id="timeout">
                    {% if form.error %}
                        <p style="color:red;text-align:center;font-size:26px;font-family:serif;"> {{ form.message }} </p>
                    {% else %}
                        <p style="color:rgb(13, 237, 13);text-align:center;font-size:26px;font-family:serif;"> {{ form.message }} </p>
                    {% endif %}
                    
                </div>
                <input type="hidden" name="id" value="{{ form.id }}">
           
                <div class="input-name">
                    <i class="fa fa-lock icon"></i>
                    <input type="password" placeholder="Enter Your Old Password" name="oldPassword" value="{{form.oldPassword}}" class="text-name">
                </div>
                <div class="input-name">
                    <span style="color: red;margin-left:1px">{{form.inputError.oldPassword}}</span>
                </div>
                <div class="input-name">
                    <i class="fas fa-lock icon"></i>
                    <input type="password" placeholder="Enter New Password" name="newPassword" value="{{form.newPassword}}" class="text-name">
                </div>
                <div class="input-name">
                    <span style="color: red;margin-left:1px">{{form.inputError.newPassword}}</span>
                </div>
                <div class="input-name">
                    <i class="fas fa-lock icon"></i>
                    <input type="password" placeholder="Enter Your Confirm Password" name="confirmPassword" value="{{form.confirmPassword}}" class="text-name">
                </div>
                <div class="input-name">
                    <span style="color: red;margin-left:1px">{{form.inputError.confirmPassword}}</span>
                </div>
                
                <div class="input-button">
                    <div class="row">
                        <input type="submit" class="button" value="Save" style="margin-left:145px ;">
                        <a href="" class="button-1" style="text-align:center">Reset</a>
                    </div>
                </div>
            </form>
        
        </div>

    </div>
    
</body>


{%endblock%}
