{%extends "./base.html"%}
{%load static%}

{%block child_block%}
<head>
  <link rel="stylesheet" href="{% static 'css/registration.css' %}">
</head>

<body>
    <div class="container">
        <h2>Forget Password</h2>
        <div class="form-container">
            <form method="POST">
                
                {% if form.error %}
                    <p style="color:red;text-align:center;font-size:1.2em;font-weight:600;"> {{ form.message }} </p>
                {% else %}
                    <p style="color:rgb(61, 235, 61);text-align: center;font-size:1.2em;font-weight:600;"> {{ form.message }} </p>
                {% endif %}

                <input type="hidden" name="id" value="{{ form.id }}">

                <div class="input-name">
                    <label>Login Id<span style="color: red;margin-left:1px">*</span></label>
                    
                    <span>
                        <i class="fa fa-envelope icon"></i>
                    <input type="text" placeholder="Enter Your Email" name="login_id" value="" class="name" style="width: 70%;">
                    </span>

                </div>

                <div class="input-name">
                    <span style="color: red;margin-left:120px">{{ form.inputError.login_id  }}</span>
                </div>
                
                <div class="input-button">
                    <input type="submit" class="button" value="Send" style="margin-left: 175px;">
                    
                </div>
            </form>
            
        </div>

    </div>

  
</body>

{%endblock%}